* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F5F2;
}

/* START HEADER STYLES */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F5F5F2;
    color: #688DB7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    display: flex;
    padding: 15px 20px;
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
/* END HEADER STYLES */

/* START HERO STYLES */
a {
    color: #688DB7;
    text-decoration: none;
}

.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero img {
    width: 20%;
    height: 50%;
    position: absolute;
    bottom: 25%;
    left: 20px;
    z-index: 1;
}
/* END HERO STYLES */

/* MAIN CONTAINER */
.container {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F5F5F2;
    color: #688DB7;
}
/* END MAIN */

/* FLEX ROW */
.flex-row {
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F5F5F2;
    color: #688DB7;
}

.flex-row-contact {
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F5F5F2;
    color: #688DB7;
}

.flex-p {
    width: 70%;
    text-align: left;
    padding-left: 20px;
    border-left: 5px solid #9AB8C6;
}

.flex-h2 {
    width: 19.7%;
    margin-right: 5px;
    text-align: right;
}

.flex-contact-h2 {
    width: 19.7%;
    margin: 20px 5px 0 0;
    text-align: right;
}

/* MY WORK STYLE */
.work-container {
    display: grid;
    grid-template-columns: 20% 27% 26% 27%;
    grid-template-rows: 60% 40%;
    margin: 0 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F5F5F2;
    color: #688DB7;
}

.side-h2 {
    grid-area: 1 / 1 / span 2 / 1;
    margin-right: 5px;
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

/* MY WORK IMAGES */
img {
    height: 100%;
    width: 100%;
    border: 2px solid #688DB7;
    position: relative;
}

.run-buddy-container {
    grid-area: 1 / 2 / 1 / span 3;
    border-left: 5px solid #9AB8C6;
    padding: 0 0 20px 20px;
    position: relative;
}

.run-buddy-container h3 {
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #688DB7;
    font-weight: bold;
    position: absolute;
    bottom: 20%;
    left: 20px;
    z-index: 1;
    background-color: #F5F5F2;
    padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.run-buddy-container img:hover,
.horiseon-container img:hover,
.robot-container img:hover,
.planetarium-party-container img:hover {
    opacity: 80%;
    cursor: pointer;
}

.horiseon-container {
    height: 100%;
    width: 100%;
    border-left: 5px solid #9AB8C6;
    margin: 0 10px 20px 0;
    position: relative;
}

.horiseon-container h3 {
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #688DB7;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    left: 20px;
    z-index: 1;
    background-color: #F5F5F2;
    padding: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.horiseon-container img {
    height: 100%;
    width: 94%;
    margin: 0 10px 20px 20px;
}

.robot-container {
    height: 100%;
    width: 100%;
    margin: 0 10px 20px 0;
    position: relative;
}

.robot-container img {
    height: 100%;
    width: 100%;
}

.robot-container h3 {
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #688DB7;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    z-index: 1;
    background-color: #F5F5F2;
    padding: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.planetarium-party-container {
    height: 100%;
    width: 100%;
    margin: 0 10px 20px 2px;
    position: relative;
}

.planetarium-party-container h3 {
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #688DB7;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    z-index: 1;
    background-color: #F5F5F2;
    padding: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.planetarium-party-container img {
    height: 100%;
    width: 100%;
}

/* CONTACT INFO ROW */
.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    text-align: left;
    padding-left: 20px;
    margin-top: 20px;
    border-left: 5px solid #9AB8C6;
}

.contact ul p{
    display: flex;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

/* START FOOTER STYLES */
footer {
    padding: 0 30px 30px 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    display: inline-block;
    font-size: 48px;
}
/* END FOOTER STYLES */